body {
    background-repeat: no-repeat;
    background-size: cover;
    font-family: verdana;
    color: rgb(0, 255, 98);
    text-align: center;
 }
 
 h1 {
     color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 25px;
 }
 
 h2 {
     font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
 }
 
 option {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 }
 
 button {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
     padding-bottom: 5px;
     margin-bottom: 25px;
     margin-top: 10px;
 }
 
 select {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 18px;
     padding-bottom: 5px;
     margin-top: 15px;
     margin-bottom: 30px;
     
 }
 
 a {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 20px;
 }

a:visited { text-decoration: none; color:green; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:black }

 
 .center {
     text-align: center;
     height: 200px;
     margin-bottom: 140px;
 }

 ul {
    list-style-type: none;
    margin-bottom: 0px !important;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  .footer {
      padding-top: 50px;
  }

